<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <!--<httpProtocol>
				<customHeaders>
					<remove name="Access-Control-Allow-Origin" />
					<remove name="Content-Length" />
					<remove name="Content-Type" />
					<remove name="Server" />
					<remove name="X-Powered-By" />
				</customHeaders>
			</httpProtocol>-->
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\Simpolo_Endpoint.dll" stdoutLogEnabled="false" hostingModel="InProcess" stdoutLogFile=".\logs\stdout">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: A69694DF-D635-4BA0-A4C1-D5BC8C6E95CC-->